* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  /* NAVBAR STYLING STARTS */

.nav-links{
    position: absolute;
    left: 24rem;
}
.container{
  height: 9rem;
  width: 100%;
  /* background: green; */
  display: flex;
  /* margin-bottom: 5px; */
}
.logo{
  height: 100%;
  width: 20%;
  font-size: 1.4rem;
  position: relative;
  left: 0.5rem;
  top: 2rem;

  /* background: red; */
  
}

.nav{
  /* height: 100%; */

  /* background: yellow; */
  align-self: stretch;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.lower{
  margin-top: 1.5rem ;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  /* background: pink; */
  height: 47%;
  width: 100%;
  
}
.middle{
  height: 1%;
  
  background-color: gray;
  left: 3.5%;
  position: relative;
}


  
  .nav-links a {
    color: #000;
  }

  

  .upper{
    align-self: stretch;
    width: 50%;
    position: relative;
    left: 4%;
  }
  .hearty{
    height: 3rem;
    border: 1px solid gray;
    position: relative;
    top: 8%;
    width: 10rem;
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-top: .4rem;
    margin-top: .2rem;
    /* background-color: #000; */
  }
 
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 2rem;
    /* margin-left:-60px; */
   
  }
  
  .menu li:hover {
    background-color: white;
    border-radius: .4rem;
    transition: 0.3s ease;
    z-index: 100;
  }
  .menu li a:hover{
    color: #9f0000;
    text-decoration: none;
  }
  
  .menu li {
    padding: .4rem 1rem;
  }
  .login{
    display: flex;
    gap: 1em;
    font-size: 1.8rem;
    right: 2rem;
    position: absolute;
  }
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color:#fff;
    /* color: whitesmoke; */
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: .5rem;
    top: 2.3rem;
  }
  
  .dropdown li + li {
    margin-top: .7rem;
   
  }
  
  .dropdown li {
    padding: 0.5rem 1rem;
    width: 15rem;
    text-align: center;
    font-size: 1.6rem;
    
  }
  
  /* .dropdown li:hover {
     /* background-color: #9f0000; */
     /* color: aliceblue; */
  /* }   */
  /* */ 
  
  .services:hover .dropdown {
    display: block;
  }

  /* Slideshow container */
  .carousel_items {
    display: flex;
    wrap: nowrap;
    overflow: hidden;
  }
  .carousel-container{
    margin-bottom:5rem ;
  }
  
  .carousel_item {
    position: relative;
    min-width: 100%;
    height: 100vh;
    transition: all 1s linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .carousel_text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: white;
    text-shadow: 1px 1px black;
    font-size: calc(5.5rem + 0.3vw);
    font-weight: bolder;
  }
  
  .item1 {
    background-image: url("https://heartymart.com/overseas/wp-content/themes/heartymart/assets/images/hm_banner.jpg");
  }
  .item2 {
    background-image: url("https://www.delightfoods.com/media/codazon/slideshow/c/h/christmas_23_web-01-01.jpg");  }
  .item3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0070/7032/files/hero_images.jpg?7363");  }
  .item4 {
    background-image: url("https://www.delightfoods.com/media/codazon/slideshow/g/a/gajak-and-rewri-web-bnr.jpg");  }
  


    .carousel {
      background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
      display: flex;
      overflow: hidden;
      width: 80%; 
      height: 32rem;
    }

    .carousel-inner {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
      min-width: 100%;
      box-sizing: border-box;
    }

    
    /* .carousel-button {
      cursor: pointer;
      font-size: 1.5rem;
    } */
.bg-tr{
  height: 100%;
  background: rgb(0, 0, 0,0.52);
  color: #fcdede;
}
    /* multiple carousel */

    .multi-item-carousel{
      .carousel-inner{
        > .item{
          transition: 500ms ease-in-out left;
        }
        .active{
          &.left{
            left:-33%;
          }
          &.right{
            left:33%;
          }
        }
        .next{
          left: 33%;
        }
        .prev{
          left: -33%;
        }
        @media all and (transform-3d), (-webkit-transform-3d) {
          > .item{
           
            transition: 500ms ease-in-out left;
            transition: 500ms ease-in-out all;
            backface-visibility: visible;
            transform: none!important;
          }
        }
      }
      .carouse-control{
        &.left, &.right{
          background-image: none;
        }
      }
    }
    
   
    body{
      color: #333;
    }
    /* h1{
      color: white;
      font-size: 2.25rem;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 2rem;
      text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
    } */
    .colmahi2{
      display: flex;
      justify-content: center;
      /* height: 250px; */
    }
    #theCarousel{
      height: 100%;
      margin-bottom: 3.2rem;
    }
  
    /* about  */
    .about{
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      justify-content: center;
      height: 20rem;
      width: 100%;
      margin: 5rem 0;
    }
    .about-sub{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        text-align: center;
        width: 40rem;
    }

    .about-logo{
      font-size: 2.9rem;
    }
    /* end about */
    /* start footer */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.footer {
	background-color: #151515;
	padding: 5.5rem 0;
}

.container3 {
	width: 100%;
	margin: auto;
  height: 16rem;

}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}
.footer-col {
	width: 25%;
	padding: 0 1.5rem;
}

.footer-col h4 {
	font-size: 1.6rem;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 2.2rem;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -.7rem;
	background-color: #E91E63;
	width: 4.4rem;
	height: .2rem;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: .7rem;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: .5rem;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 3.8rem;
	width: 3.8rem;
	border-radius: 50%;
	text-align: center;
	margin: 0 .8rem .8rem 0;
	line-height: 3.7rem;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

/* @media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
} */
    /* end footer */

@media(max-width: 942px) {
	.container2{
    margin-top: 70px;
  }
}
@media(max-width: 800px) {
	.container2{
    margin-top: 300px;
  }
}
@media(max-width: 602px) {
	.container2{
    margin-top: 450px;
  }
}
/* humburger code */
.hamburger {
  display: none;
  font-size: 2.7rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  /* Adjust styles for smaller screens */
  .middle{
    display: none;
  }
  
  .container {
      flex-direction: row;
  }
  .nav-links {
      position: relative;
      left: 0;
      display: none; /* Hide the menu by default */
  }
  .upper {
      width: 100%;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      display: none;
  }
  .lower{
    display: none;
  }
  .hamburger {
      display: block;
       /* Display the hamburger icon on small screens */
  }
  .menu {
      flex-direction: column;
      align-items: center;
  }
  .login {
      position: relative;
      right: 0;
      margin-top: 1rem;
  }
  
}
